In [21]:
import glob 
import pandas as pd 
import xml.etree.ElementTree as ET 
from datetime import datetime

In [40]:
tmpfile    = "dealership_temp.tmp"               # store all extracted data

logfile    = "dealership_logfile.txt"            # all event logs will be stored

targetfile = "dealership_transformed_data.csv"   # transformed data is stored

In [41]:
def extract_from_json(file):
    df = pd.read_json(file,lines=True)
    return df
# df = extract_from_json('used_car_prices1.json') 

def extract_from_csv(file_to_process): 
    dataframe = pd.read_csv(file_to_process) 
    return dataframe

# df = extract_from_csv('used_car_prices1.csv')

def extract_from_xml(file_to_process):

    dataframe = pd.DataFrame(columns=['car_model','year_of_manufacture','price', 'fuel'])

    tree = ET.parse(file_to_process) 

    root = tree.getroot() 

    for person in root: 

        car_model = person.find("car_model").text 

        year_of_manufacture = int(person.find("year_of_manufacture").text)

        price = float(person.find("price").text) 

        fuel = person.find("fuel").text 

        dataframe = dataframe.append({"car_model":car_model, "year_of_manufacture":year_of_manufacture, "price":price, "fuel":fuel}, ignore_index=True) 

        return dataframe
# df = extract_from_xml('used_car_prices1.xml')
# df

In [42]:
def extract():
    
    
    extracted_data = pd.DataFrame(columns=['car_model','year_of_manufacture','price', 'fuel']) 
    #for csv files
    for csvfile in glob.glob("dealership_data/*.csv"):
        extracted_data = extracted_data.append(extract_from_csv(csvfile), ignore_index=True)
    #for json files
    for jsonfile in glob.glob("dealership_data/*.json"):
        extracted_data = extracted_data.append(extract_from_json(jsonfile), ignore_index=True)
    #for xml files
    for xmlfile in glob.glob("dealership_data/*.xml"):
        extracted_data = extracted_data.append(extract_from_xml(xmlfile), ignore_index=True)
    return extracted_data

In [52]:
extract()

/tmp/ipykernel_101884/2856029687.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  extracted_data = extracted_data.append(extract_from_csv(csvfile), ignore_index=True)
/tmp/ipykernel_101884/2856029687.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  extracted_data = extracted_data.append(extract_from_csv(csvfile), ignore_index=True)
/tmp/ipykernel_101884/2856029687.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  extracted_data = extracted_data.append(extract_from_csv(csvfile), ignore_index=True)
/tmp/ipykernel_101884/2856029687.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  extracted_data = extracted_data.append(extract_from_json(jsonfile), ignore_index=True)
/tmp/ipykernel_101884/2856029687.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  extracted_data = extracted_data.append(extract_from_json(jsonfile), ignore_index=True)
/tmp/ipykernel_101884/2856029687.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  extracted_data = extracted_data.append(extract_from_json(jsonfile), ignore_index=True)
/tmp/ipykernel_101884/1897136978.py:30: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  dataframe = dataframe.append({"car_model":car_model, "year_of_manufacture":year_of_manufacture, "price":price, "fuel":fuel}, ignore_index=True)
/tmp/ipykernel_101884/2856029687.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  extracted_data = extracted_data.append(extract_from_xml(xmlfile), ignore_index=True)
/tmp/ipykernel_101884/1897136978.py:30: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  dataframe = dataframe.append({"car_model":car_model, "year_of_manufacture":year_of_manufacture, "price":price, "fuel":fuel}, ignore_index=True)
/tmp/ipykernel_101884/2856029687.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  extracted_data = extracted_data.append(extract_from_xml(xmlfile), ignore_index=True)
/tmp/ipykernel_101884/1897136978.py:30: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  dataframe = dataframe.append({"car_model":car_model, "year_of_manufacture":year_of_manufacture, "price":price, "fuel":fuel}, ignore_index=True)
/tmp/ipykernel_101884/2856029687.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  extracted_data = extracted_data.append(extract_from_xml(xmlfile), ignore_index=True)

        car_model year_of_manufacture         price    fuel
0            ritz                2014   5000.000000  Petrol
1             sx4                2013   7089.552239  Diesel
2            ciaz                2017  10820.895522  Petrol
3         wagon r                2011   4253.731343  Petrol
4           swift                2014   6865.671642  Diesel
..            ...                 ...           ...     ...
58         ertiga                2015   8656.716418  Petrol
59           ciaz                2017  11567.164179  Petrol
60     etios liva                2014   5895.522388  Diesel
61  corolla altis                2013  10373.134328  Petrol
62  corolla altis                2016  21985.074627  Diesel

[63 rows x 4 columns]

In [44]:
extracted_data = pd.DataFrame(columns=['car_model','year_of_manufacture','price', 'fuel']) 
    #for csv files
for csvfile in glob.glob("dealership_data/*.csv"):
    extracted_data = extracted_data.append(extract_from_csv(csvfile), ignore_index=True)
print(extracted_data)

        car_model year_of_manufacture         price    fuel
0            ritz                2014   5000.000000  Petrol
1             sx4                2013   7089.552239  Diesel
2            ciaz                2017  10820.895522  Petrol
3         wagon r                2011   4253.731343  Petrol
4           swift                2014   6865.671642  Diesel
5   vitara brezza                2018  13805.970149  Diesel
6            ciaz                2015  10074.626866  Petrol
7         s cross                2015   9701.492537  Diesel
8            ciaz                2016  13059.701493  Diesel
9            ciaz                2015  11119.402985  Diesel
10       alto 800                2017   4253.731343  Petrol
11           ciaz                2015  10223.880597  Diesel
12           ciaz                2015  11194.029851  Petrol
13         ertiga                2015   9104.477612  Petrol
14          dzire                2009   3358.208955  Petrol
15         ertiga                2016  11567.164179  Diesel
16         ertiga                2015  10820.895522  Diesel
17         ertiga                2016  11567.164179  Diesel
18        wagon r                2015   4850.746269     CNG
19            sx4                2010   3955.223881  Petrol
20       alto k10                2016   4253.731343  Petrol
21          ignis                2017   7313.432836  Petrol
22            sx4                2011   6567.164179  Petrol
23       alto k10                2014   3731.343284  Petrol
24        wagon r                2013   4328.358209  Petrol
25          swift                2011   4477.611940  Petrol
26          swift                2013   6194.029851  Petrol
27          swift                2017   8955.223881  Petrol
28       alto k10                2010   2910.447761  Petrol
29           ciaz                2015  11119.402985  Diesel

/tmp/ipykernel_101884/3939677226.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  extracted_data = extracted_data.append(extract_from_csv(csvfile), ignore_index=True)
/tmp/ipykernel_101884/3939677226.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  extracted_data = extracted_data.append(extract_from_csv(csvfile), ignore_index=True)
/tmp/ipykernel_101884/3939677226.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  extracted_data = extracted_data.append(extract_from_csv(csvfile), ignore_index=True)

In [45]:
def transform(data):
       data['price'] = round(data.price, 2)
       return data

In [46]:
def load(targetfile,data_to_load):
    data_to_load.to_csv(targetfile)

In [47]:
def log(message):
    timestamp_format = '%H:%M:%S-%h-%d-%Y'
    #Hour-Minute-Second-MonthName-Day-Year
    now = datetime.now() # get current timestamp
    timestamp = now.strftime(timestamp_format)
    with open("dealership_logfile.txt","a") as f: f.write(timestamp + ',' + message + 'n')

In [48]:
log("ETL Job Started")

In [49]:
log("Extract phase Started")
extracted_data = extract() 
log("Extract phase Ended")

/tmp/ipykernel_101884/2856029687.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  extracted_data = extracted_data.append(extract_from_csv(csvfile), ignore_index=True)
/tmp/ipykernel_101884/2856029687.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  extracted_data = extracted_data.append(extract_from_csv(csvfile), ignore_index=True)
/tmp/ipykernel_101884/2856029687.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  extracted_data = extracted_data.append(extract_from_csv(csvfile), ignore_index=True)
/tmp/ipykernel_101884/2856029687.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  extracted_data = extracted_data.append(extract_from_json(jsonfile), ignore_index=True)
/tmp/ipykernel_101884/2856029687.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  extracted_data = extracted_data.append(extract_from_json(jsonfile), ignore_index=True)
/tmp/ipykernel_101884/2856029687.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  extracted_data = extracted_data.append(extract_from_json(jsonfile), ignore_index=True)
/tmp/ipykernel_101884/1897136978.py:30: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  dataframe = dataframe.append({"car_model":car_model, "year_of_manufacture":year_of_manufacture, "price":price, "fuel":fuel}, ignore_index=True)
/tmp/ipykernel_101884/2856029687.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  extracted_data = extracted_data.append(extract_from_xml(xmlfile), ignore_index=True)
/tmp/ipykernel_101884/1897136978.py:30: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  dataframe = dataframe.append({"car_model":car_model, "year_of_manufacture":year_of_manufacture, "price":price, "fuel":fuel}, ignore_index=True)
/tmp/ipykernel_101884/2856029687.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  extracted_data = extracted_data.append(extract_from_xml(xmlfile), ignore_index=True)
/tmp/ipykernel_101884/1897136978.py:30: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  dataframe = dataframe.append({"car_model":car_model, "year_of_manufacture":year_of_manufacture, "price":price, "fuel":fuel}, ignore_index=True)
/tmp/ipykernel_101884/2856029687.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  extracted_data = extracted_data.append(extract_from_xml(xmlfile), ignore_index=True)

In [50]:
log("Transform phase Started")

transformed_data = transform(extracted_data)

log("Transform phase Ended")

In [51]:
targetfile = "dealership_transformed_data.csv"
log("Load phase Started")
load(targetfile,transformed_data)
log("Load phase Ended")

In [54]:
extract_from_csv("dealership_transformed_data.csv")

    Unnamed: 0      car_model  year_of_manufacture     price    fuel
0            0           ritz                 2014   5000.00  Petrol
1            1            sx4                 2013   7089.55  Diesel
2            2           ciaz                 2017  10820.90  Petrol
3            3        wagon r                 2011   4253.73  Petrol
4            4          swift                 2014   6865.67  Diesel
..         ...            ...                  ...       ...     ...
58          58         ertiga                 2015   8656.72  Petrol
59          59           ciaz                 2017  11567.16  Petrol
60          60     etios liva                 2014   5895.52  Diesel
61          61  corolla altis                 2013  10373.13  Petrol
62          62  corolla altis                 2016  21985.07  Diesel

[63 rows x 5 columns]